body {
    background-color: #003052;
    font-family: "Nunito", sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.view {
    display: none;
}

.stop-container {
    display: flex;
    background-color: #051B2F;
    margin: 2px auto;
}

.status-label {
    display: none;
    margin-bottom: 8px;
    padding: 7px;
}

.content {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

input {
    display: flex;
    width: 100%;
    height: 35px;
    border: none;
    margin-bottom: 8px;
    font-family: "Nunito", sans-serif, FontAwesome;
    font-size: 15px;
    background-color: #3B5771;
    color: #FFFFFF;
    padding: 5px;
}

input:focus {
    outline: none;
    border: #BBBBBB;
}

::placeholder {
    color: #BBBBBB;
    opacity: 1;
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.star {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    padding: 10px;
    font-size: 20px;
}

.star:hover {
    cursor: pointer;
}

.dist-label {
    display: inline-block;
    vertical-align: bottom;
    text-align: right;
    padding: 10px;
    flex-shrink: 0;
    font-size: 15px;
    color: #BBBBBB;
}

.stops-list a, .tab {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    text-decoration: none;
    background-color: #051B2F;
    color: #FFFFFF;
    padding: 10px 10px;
}

.stops-list {
    list-style-type: none;
    padding-left: 0px;
    margin: auto 0px;
    text-align: center;
}

.tabs-container {
    display: flex;
    margin: 0px auto 8px;
    text-align: center;
}

.tab {
    text-align: center;
    width: 50%;
    max-width: 300px;
}

.tab:hover:not(.active-tab) {
    cursor: pointer;
}

.active-tab {
    background-color: #3B5771;
}
